body {
  color: white;   /* або будь-який інший колір */
}


header {background-color: #666666;
background-image: url('https://i.ytimg.com/vi/-C8Ubw81UfA/maxresdefault.jpg');
background-position: center;
background-size: cover;
  background-repeat: no-repeat;}
header h1 {
  color: white;  
}
.home, .news, .contacts {
  background-color: #5a3030;   /* один колір для всіх */
  border: 1px solid #333;        /* тонка рамка */
  border-radius: 7px;           /* заокруглені кути */
  padding: 1px 15px;             /* компактні відступи */
  text-align: center;
}

.home a, .news a, .contacts a {
  color: white;                  /* контрастний текст */
  font-size: 11px;
}

.home a:hover, .news a:hover, .contacts a:hover {
  color: white;                  /* зміна кольору при наведенні */
}
.IMPER {background-image: linear-gradient(135deg, rgba(34, 82, 129, 1) 15%, rgba(0, 0, 0, 1) 75%);}

.boss_02 {background-color: #5a3030;
border-radius: 10px;
text-align: left
}
